**/.Rproj.user
**/.Rhistory
**/.RData
**/.DS_Store
**/.Rapp.history
**/*.aux
**/*.bbl
**/*.blg
**/*.ent
**/*.fff
**/*.lof
**/*.log
**/*.synctex.gz
**/*.ttt
**/octave-core
**/diary
papers/springer-chapter/book.bbl
papers/springer-chapter/book.blg
papers/springer-chapter/book.brf
papers/springer-chapter/book.idx
papers/springer-chapter/book.out
papers/springer-chapter/book.synctex.gz

